.itemList {
  &:hover {
    .hoverButtons {
      opacity:1;
      pointer-events: all;
    }
  }
}
.hoverButtons {
  display: flex;
  pointer-events: none;
  opacity:0;
  transition: opacity .20s ease-in-out;
}
